<nav class=" navbar  bg-light  navbarMe">

    <div class="navs">
        <ul>
        <a href="/"><li>Home</li></a> 
        <a href="/weather"><li>Weather</li></a> 
        </ul>
    </div>



    <div class="box">
        <form id="form111">
        <input type="text" id="input11"  placeholder="enter country name">
        <a href="#" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        </form>
    </div>
</nav>
